<!doctype html>
<html ng-app="App">
  <head>
    <title>Das unsichtbare Quadrat</title>
    <link rel="stylesheet" type="text/css" href="public/styles.css">
    <script src="/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
     socket = io();
    </script>
    <script src="/angular/angular.js"></script>
    <script src="/public/controller.js"></script>
  </head>
  <body ng-controller="frontpage" ng-class="{interrupted : datapoint.state==0}">
    <div id="frame">
      <ul id="messages"></ul>
      <div class="datapoints">
        <ul class="messages datapoints-1" id="datapoints-1">
          <li ng-repeat="datapoint in datapoints.slice().reverse() | filter : {state : 1 } | limitTo:50">
            <span>{{::datapoint.moment | date : 'dd.MM.yyyy HH:mm:ss' }}</span>      
            <span class="count">{{::datapoint.count}}</span>
            <span class="countToday">{{::datapoint.count - interruptionCounterTodayOffset}}</span>
            <span>{{datapoint.timer | readableTime }}</span>
          </li>
        </ul>
        <ul class="messages datapoints-0" id="datapoints-0">
          <li ng-repeat="datapoint in datapoints.slice().reverse() | filter : {state : 0 } | limitTo:50 " ng-class="{over1s : timer > 1.0}">
            <span>{{::datapoint.moment | date : 'dd.MM.yyyy HH:mm:ss' }}</span>      
            <span class="count">{{::datapoint.count}}</span>
            <span class="countToday">{{::datapoint.count - interruptionCounterTodayOffset}}</span>
            <span>{{datapoint.timer | readableTime }}</span>
          </li>
        </ul>
      </div>
      <ul id="days">
        <li class="day" ng-repeat="d in dates">
          {{d | date : 'dd.MM.yyyy' }}
        </li>
      </ul>
      <!--div id="full_square_indicator" ng-if="active_datapoint.state==1">
        ▢
      </div-->
      <div id="interruption_count_indicator" ng-show="datapoint.state==0">
        {{datapoint.count}}
      </div>
      <!--div id="total">
        {{totalClosed}} / {{totalInterrupted}}
      </div-->      
      <div id="clock">
        <p>{{ clock  | date:'dd.MM.yyyy HH:mm:ss'}}</p>
      </div>        
      <!--div id="timer">
        <p>{{ timer  | number:3 }}</p>
      </div-->              
      <!--form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form-->
    </div>
  </body>
</html>