<!doctype html>
<html ng-app="App">
  <head>
    <title>Das unsichtbare Quadrat</title>
    <link rel="stylesheet" type="text/css" href="public/styles.css">
    <script src="/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
     socket = io();
    </script>
    <script src="/angular/angular.js"></script>
    <script src="/public/controller.js"></script>
  </head>
  <body ng-controller="frontpage">
    <ul id="messages"></ul>
    <ul class="messages datapoints-1" id="datapoints-1" style="float:left; width:30%">
      <li ng-repeat="datapoint in datapoints.slice().reverse() | filter : {state : 1 }">
        <span>{{::datapoint.moment | date : 'dd.MM.yyyy HH:mm:ss' }}</span>      
        <span class="count">{{::datapoint.count}}</span>
        <span class="countToday">{{::datapoint.countToday}}</span>
        <span>{{datapoint.timer | number : 3}}s</span>
      </li>
    </ul>    
    <ul class="messages datapoints-0" id="datapoints-0" style="float:left; width:30%">
      <li ng-repeat="datapoint in datapoints.slice().reverse() | filter : {state : 0 }">
        <span>{{::datapoint.moment | date : 'dd.MM.yyyy HH:mm:ss' }}</span>      
        <span class="count">{{::datapoint.count}}</span>
        <span class="countToday">{{::datapoint.countToday}}</span>
        <span>{{datapoint.timer | number : 3}}s</span>
      </li>
    </ul>
    <!--ul id="days">
      <li class="day" ng-repeat="i in [1,2,3,4,5,6,7,8]">
        {{i}}
      </li>
    </ul-->
    <!--div id="full_square_indicator" ng-if="active_datapoint.state==1">
      ▢
    </div-->
    <div id="interruption_count_indicator" ng-show="datapoint.state==0">
      {{datapoint.count}}
    </div>
    <!--form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form-->

  </body>
</html>